<!doctype html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../public/css/base.css">
</head>
<html>
  <body>
    <p>
      This website simulates generating a passphrase using diceware.
      For more information please look <a href="http://world.std.com/~reinhold/diceware.html">here</a>
    </p>
    {{{body}}}
  </body>
</html>
