
<form method="GET" action="">
Number Of Words: <input name="numWords" type="text" numWords="numWords">
Seperator:<select name="glue" glue="glue">
<option value="space">space " "</option>
<option value="dash">dash "-"</option>
<option value="comma">comma ","</option>
<option value="star">star "*"</option>
<option value="none">space ""</option>
</select>
<input type="submit" value="ROLL!">

<br>
<br>
Generated Passphrase: <br><br>
<span class="password">
{{password}}
</span>
<br>
<ul class="records">
{{#each records}}
  <li class="singleRecord">{{number}} <br> {{word}}</li>
{{/each}}
</ul>
</form>
