<form method="POST" action="/login">
  <h1>Login</h1>
  <div class ="error">{{errorMessage}}</div>
  <div class ="form">Username:<input name="username" type="text"><br>
  Password:<input name="password" type="text"><br><br>
  <input type="submit" value="Login"><br><br></div>
  <div class="backhome">Want to go <a href="/">back home</a>?</div>
