h1{
  font-family: serif;
  text-align: center;
  font-size: 100px;
}

.navbar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #79818e;
}

.navb {
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 50%;
    box-sizing: border-box;
}

.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body {
  text-align: center;
  font-size: 30px
}

.password {
  background-color: lightyellow;
  font-weight: bold;
}

.records {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.singleRecord{
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  padding: 20px 20px;
  text-decoration: none;
}
